# Import Libraries

In [3]:
# import libraries
import pandas as pd
import pickle
import numpy as np
import os

# Create Path

In [5]:
# Create path
path=r'C:\Users\baidy\Downloads\11-2024 Instacart Basket Analysis'

# Import Dataframe

In [7]:
# Import Dataframe
ords_prods_merge=pd.read_pickle(os.path.join(path,'02 Data','Prepared Data','ords_prods_merge.pkl'))

In [8]:
# Create subset for first 1 million rows
df=ords_prods_merge[:1000000]

In [9]:
df.shape

(1000000, 15)

In [10]:
df.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,match
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,2539329,1,1,2,8,NaN,12427,3,0,both,Original Beef Jerky,23,19,4.4,both
3,2539329,1,1,2,8,NaN,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,both
4,2539329,1,1,2,8,NaN,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both

In [11]:
# Grouping data
df.groupby('product_name')

In [12]:
# Grouping and aggregating data
df.groupby('department_id').agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                14.800024
2                17.091743
3                17.913544
4                17.893092
5                15.214270
6                15.382135
7                17.694027
8                16.458105
9                15.957363
10               20.091818
11               16.482026
12               15.615061
13               16.484023
14               17.524632
15               15.691875
16               18.014071
17               16.150593
18               19.602850
19               17.631340
20               17.138607
21               21.956893

In [13]:
# using mean function instead of agg() function
df.groupby('department_id')['order_number'].mean()

department_id
1     14.800024
2     17.091743
3     17.913544
4     17.893092
5     15.214270
6     15.382135
7     17.694027
8     16.458105
9     15.957363
10    20.091818
11    16.482026
12    15.615061
13    16.484023
14    17.524632
15    15.691875
16    18.014071
17    16.150593
18    19.602850
19    17.631340
20    17.138607
21    21.956893
Name: order_number, dtype: float64

In [14]:
# performing multiple aggregations
df.groupby('department_id').agg({'order_number':['mean','min','max']})

              order_number
                      mean min max
department_id
1                14.800024   1  99
2                17.091743   1  98
3                17.913544   1  99
4                17.893092   1  99
5                15.214270   1  99
6                15.382135   1  99
7                17.694027   1  99
8                16.458105   1  91
9                15.957363   1  99
10               20.091818   1  99
11               16.482026   1  99
12               15.615061   1  99
13               16.484023   1  99
14               17.524632   1  99
15               15.691875   1  99
16               18.014071   1  99
17               16.150593   1  99
18               19.602850   1  99
19               17.631340   1  99
20               17.138607   1  99
21               21.956893   1  97

# 04. Creating loyalty flag for existing customers using 'transform()' and 'loc()' functions

In [16]:
# Aggregation data with transform()
ords_prods_merge['max_order']=ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\baidy\AppData\Local\Temp\ipykernel_5096\2532407556.py:2: FutureWarning: The provided callable <function max at 0x000001664CF85EE0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order']=ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [17]:
ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,match,max_order
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,both,10
1,2539329,1,1,2,8,NaN,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,10
2,2539329,1,1,2,8,NaN,12427,3,0,both,Original Beef Jerky,23,19,4.4,both,10
3,2539329,1,1,2,8,NaN,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,both,10
4,2539329,1,1,2,8,NaN,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,10
5,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,both,10
6,2398795,1,2,3,7,15.0,10258,2,0,both,Pistachios,117,19,3.0,both,10
7,2398795,1,2,3,7,15.0,12427,3,1,both,Original Beef Jerky,23,19,4.4,both,10
8,2398795,1,2,3,7,15.0,13176,4,0,both,Bag of Organic Bananas,24,4,10.3,both,10
9,2398795,1,2,3,7,15.0,26088,5,1,both,Aged White Cheddar Popcorn,23,19,4.7,both,10
10,2398795,1,2,3,7,15.0,13032,6,0,both,Cinnamon Toast Crunch,121,14,4.0,both,10
11,473747,1,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,both,10
12,473747,1,3,3,12,21.0,12427,2,1,both,Original Beef Jerky,23,19,4.4,both,10
13,473747,1,3,3,12,21.0,10258,3,1,both,Pistachios,117,19,3.0,both,10
14,473747,1,3,3,12,21.0,25133,4,0,both,Organic String Cheese,21,16,8.6,both,10

In [18]:
# check the dataframe
ords_prods_merge.head(100)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,match,max_order
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,both,10
1,2539329,1,1,2,8,NaN,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,10
2,2539329,1,1,2,8,NaN,12427,3,0,both,Original Beef Jerky,23,19,4.4,both,10
3,2539329,1,1,2,8,NaN,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,both,10
4,2539329,1,1,2,8,NaN,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,738281,2,4,2,10,8.0,21150,13,0,both,Fire Grilled Steak Bowl,38,1,5.9,both,14
96,1673511,2,5,3,11,8.0,47144,1,0,both,Unsweetened Original Almond Breeze Almond Milk,91,16,14.0,both,14
97,1673511,2,5,3,11,8.0,5322,2,0,both,Gluten Free Dark Chocolate Chunk Chewy with a ...,3,19,2.9,both,14
98,1673511,2,5,3,11,8.0,17224,3,0,both,Oats & Honey Gluten Free Granola,3,19,1.6,both,14
99,1673511,2,5,3,11,8.0,38656,4,0,both,Gluten Free Peanut Butter Dark Chocolate Chewy...,3,19,3.4,both,14

In [19]:
pd.options.display.max_rows=None

In [20]:
ords_prods_merge.head(100)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,match,max_order
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,both,10
1,2539329,1,1,2,8,NaN,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,10
2,2539329,1,1,2,8,NaN,12427,3,0,both,Original Beef Jerky,23,19,4.4,both,10
3,2539329,1,1,2,8,NaN,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,both,10
4,2539329,1,1,2,8,NaN,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,10
5,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,both,10
6,2398795,1,2,3,7,15.0,10258,2,0,both,Pistachios,117,19,3.0,both,10
7,2398795,1,2,3,7,15.0,12427,3,1,both,Original Beef Jerky,23,19,4.4,both,10
8,2398795,1,2,3,7,15.0,13176,4,0,both,Bag of Organic Bananas,24,4,10.3,both,10
9,2398795,1,2,3,7,15.0,26088,5,1,both,Aged White Cheddar Popcorn,23,19,4.7,both,10
10,2398795,1,2,3,7,15.0,13032,6,0,both,Cinnamon Toast Crunch,121,14,4.0,both,10
11,473747,1,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,both,10
12,473747,1,3,3,12,21.0,12427,2,1,both,Original Beef Jerky,23,19,4.4,both,10
13,473747,1,3,3,12,21.0,10258,3,1,both,Pistachios,117,19,3.0,both,10
14,473747,1,3,3,12,21.0,25133,4,0,both,Organic String Cheese,21,16,8.6,both,10
15,473747,1,3,3,12,21.0,30450,5,0,both,Creamy Almond Butter,88,13,3.2,both,10
16,2254736,1,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,both,10
17,2254736,1,4,4,7,29.0,12427,2,1,both,Original Beef Jerky,23,19,4.4,both,10
18,2254736,1,4,4,7,29.0,10258,3,1,both,Pistachios,117,19,3.0,both,10
19,2254736,1,4,4,7,29.0,25133,4,1,both,Organic String Cheese,21,16,8.6,both,10
20,2254736,1,4,4,7,29.0,26405,5,1,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,10
21,431534,1,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,both,10
22,431534,1,5,4,15,28.0,12427,2,1,both,Original Beef Jerky,23,19,4.4,both,10
23,431534,1,5,4,15,28.0,10258,3,1,both,Pistachios,117,19,3.0,both,10
24,431534,1,5,4,15,28.0,25133,4,1,both,Organic String Cheese,21,16,8.6,both,10
25,431534,1,5,4,15,28.0,10326,5,0,both,Organic Fuji Apples,24,4,2.7,both,10
26,431534,1,5,4,15,28.0,17122,6,0,both,Honeycrisp Apples,24,4,14.0,both,10
27,431534,1,5,4,15,28.0,41787,7,0,both,Bartlett Pears,24,4,5.0,both,10
28,431534,1,5,4,15,28.0,13176,8,1,both,Bag of Organic Bananas,24,4,10.3,both,10
29,3367565,1,6,2,7,19.0,196,1,1,both,Soda,77,7,9.0,both,10
30,3367565,1,6,2,7,19.0,12427,2,1,both,Original Beef Jerky,23,19,4.4,both,10
31,3367565,1,6,2,7,19.0,10258,3,1,both,Pistachios,117,19,3.0,both,10
32,3367565,1,6,2,7,19.0,25133,4,1,both,Organic String Cheese,21,16,8.6,both,10
33,550135,1,7,1,9,20.0,196,1,1,both,Soda,77,7,9.0,both,10
34,550135,1,7,1,9,20.0,10258,2,1,both,Pistachios,117,19,3.0,both,10
35,550135,1,7,1,9,20.0,12427,3,1,both,Original Beef Jerky,23,19,4.4,both,10
36,550135,1,7,1,9,20.0,25133,4,1,both,Organic String Cheese,21,16,8.6,both,10
37,550135,1,7,1,9,20.0,13032,5,1,both,Cinnamon Toast Crunch,121,14,4.0,both,10
38,3108588,1,8,1,14,14.0,12427,1,1,both,Original Beef Jerky,23,19,4.4,both,10
39,3108588,1,8,1,14,14.0,196,2,1,both,Soda,77,7,9.0,both,10
40,3108588,1,8,1,14,14.0,10258,3,1,both,Pistachios,117,19,3.0,both,10
41,3108588,1,8,1,14,14.0,25133,4,1,both,Organic String Cheese,21,16,8.6,both,10
42,3108588,1,8,1,14,14.0,46149,5,0,both,Zero Calorie Cola,77,7,13.4,both,10
43,3108588,1,8,1,14,14.0,49235,6,0,both,Organic Half & Half,53,16,1.8,both,10
44,2295261,1,9,1,16,0.0,49235,1,1,both,Organic Half & Half,53,16,1.8,both,10
45,2295261,1,9,1,16,0.0,46149,2,1,both,Zero Calorie Cola,77,7,13.4,both,10
46,2295261,1,9,1,16,0.0,25133,3,1,both,Organic String Cheese,21,16,8.6,both,10
47,2295261,1,9,1,16,0.0,196,4,1,both,Soda,77,7,9.0,both,10
48,2295261,1,9,1,16,0.0,10258,5,1,both,Pistachios,117,19,3.0,both,10
49,2295261,1,9,1,16,0.0,12427,6,1,both,Original Beef Jerky,23,19,4.4,both,10
50,2550362,1,10,4,8,30.0,196,1,1,both,Soda,77,7,9.0,both,10
51,2550362,1,10,4,8,30.0,46149,2,1,both,Zero Calorie Cola,77,7,13.4,both,10
52,2550362,1,10,4,8,30.0,39657,3,0,both,Milk Chocolate Almonds,45,19,6.8,both,10
53,2550362,1,10,4,8,30.0,38928,4,0,both,0% Greek Strained Yogurt,120,16,12.6,both,10
54,2550362,1,10,4,8,30.0,25133,5,1,both,Organic String Cheese,21,16,8.6,both,10
55,2550362,1,10,4,8,30.0,10258,6,1,both,Pistachios,117,19,3.0,both,10
56,2550362,1,10,4,8,30.0,35951,7,0,both,Organic Unsweetened Almond Milk,91,16,1.3,both,10
57,2550362,1,10,4,8,30.0,13032,8,1,both,Cinnamon Toast Crunch,121,14,4.0,both,10
58,2550362,1,10,4,8,30.0,12427,9,1,both,Original Beef Jerky,23,19,4.4,both,10
59,2168274,2,1,2,11,NaN,32792,1,0,both,Chipotle Beef & Pork Realstick,23,19,5.2,both,14
60,2168274,2,1,2,11,NaN,47766,2,0,both,Organic Avocado,24,4,6.3,both,14
61,2168274,2,1,2,11,NaN,20574,3,0,both,Roasted Turkey,96,20,2.3,both,14
62,2168274,2,1,2,11,NaN,12000,4,0,both,Baked Organic Sea Salt Crunchy Pea Snack,72,13,10.9,both,14
63,2168274,2,1,2,11,NaN,48110,5,0,both,Thin Stackers Brown Rice Lightly Salted,78,19,2.7,both,14
64,2168274,2,1,2,11,NaN,22474,6,0,both,Cheddar Bunnies Snack Crackers,78,19,4.1,both,14
65,2168274,2,1,2,11,NaN,16589,7,0,both,Plantain Chips,107,19,5.0,both,14
66,2168274,2,1,2,11,NaN,35917,8,0,both,Organic Just Concord Grape Juice,98,7,9.4,both,14
67,2168274,2,1,2,11,NaN,27344,9,0,both,Uncured Genoa Salami,96,20,14.8,both,14
68,2168274,2,1,2,11,NaN,30489,10,0,both,Original Hummus,67,20,7.5,both,14
69,2168274,2,1,2,11,NaN,27966,11,0,both,Organic Raspberries,123,4,4.4,both,14
70,2168274,2,1,2,11,NaN,13176,12,0,both,Bag of Organic Bananas,24,4,10.3,both,14
71,2168274,2,1,2,11,NaN,45066,13,0,both,Honeycrisp Apple,24,4,2.5,both,14
72,1501582,2,2,5,10,10.0,16797,1,0,both,Strawberries,24,4,1.3,both,14
73,1501582,2,2,5,10,10.0,47526,2,0,both,Goat Cheese Log,21,16,2.0,both,14
74,1501582,2,2,5,10,10.0,8479,3,0,both,Original Black Box Tablewater Cracker,78,19,3.5,both,14
75,1501582,2,2,5,10,10.0,47766,4,1,both,Organic Avocado,24,4,6.3,both,14
76,1501582,2,2,5,10,10.0,19051,5,0,both,"Pita Chips, Simply Naked, Party Size",107,19,3.9,both,14
77,1501582,2,2,5,10,10.0,8138,6,0,both,Traditional Hummus,67,20,2.0,both,14
78,1901567,2,3,1,10,3.0,47766,1,1,both,Organic Avocado,24,4,6.3,both,14
79,1901567,2,3,1,10,3.0,32792,2,1,both,Chipotle Beef & Pork Realstick,23,19,5.2,both,14
80,1901567,2,3,1,10,3.0,20574,3,1,both,Roasted Turkey,96,20,2.3,both,14
81,1901567,2,3,1,10,3.0,7781,4,0,both,Organic Sticks Low Moisture Part Skim Mozzarel...,21,16,6.6,both,14
82,1901567,2,3,1,10,3.0,28874,5,0,both,Carrot Ginger Soup,1,20,6.2,both,14
83,738281,2,4,2,10,8.0,49451,1,0,both,Artichoke Spinach Dip,67,20,7.1,both,14
84,738281,2,4,2,10,8.0,32792,2,1,both,Chipotle Beef & Pork Realstick,23,19,5.2,both,14
85,738281,2,4,2,10,8.0,32139,3,0,both,Hommus Classic Original,67,20,7.5,both,14
86,738281,2,4,2,10,8.0,34688,4,0,both,Good Belly Probiotics Juice Drink Blueberry Ac...,31,7,5.8,both,14
87,738281,2,4,2,10,8.0,36735,5,0,both,Organic Roasted Sliced Chicken Breast,96,20,8.9,both,14
88,738281,2,4,2,10,8.0,37646,6,0,both,Organic Gala Apples,24,4,9.1,both,14
89,738281,2,4,2,10,8.0,22829,7,0,both,Multigrain Flax Seeded Flatbread Crackers,78,19,5.5,both,14
90,738281,2,4,2,10,8.0,24852,8,0,both,Banana,24,4,12.3,both,14
91,738281,2,4,2,10,8.0,47209,9,0,both,Organic Hass Avocado,24,4,4.0,both,14
92,738281,2,4,2,10,8.0,33276,10,0,both,Kalamata Olive Spread,67,20,10.8,both,14
93,738281,2,4,2,10,8.0,45613,11,0,both,Pad Thai,38,1,12.6,both,14
94,738281,2,4,2,10,8.0,9681,12,0,both,Chicken Tikka Masala with Cumin Infused Basmat...,38,1,2.0,both,14
95,738281,2,4,2,10,8.0,21150,13,0,both,Fire Grilled Steak Bowl,38,1,5.9,both,14
96,1673511,2,5,3,11,8.0,47144,1,0,both,Unsweetened Original Almond Breeze Almond Milk,91,16,14.0,both,14
97,1673511,2,5,3,11,8.0,5322,2,0,both,Gluten Free Dark Chocolate Chunk Chewy with a ...,3,19,2.9,both,14
98,1673511,2,5,3,11,8.0,17224,3,0,both,Oats & Honey Gluten Free Granola,3,19,1.6,both,14
99,1673511,2,5,3,11,8.0,38656,4,0,both,Gluten Free Peanut Butter Dark Chocolate Chewy...,3,19,3.4,both,14

# Create flag column with loc()

In [22]:
# Creating columns with loc()
ords_prods_merge.loc[ords_prods_merge['max_order']>40,'loyalty_flag']='Loyal customer'

In [23]:
ords_prods_merge.loc[(ords_prods_merge['max_order']<=40) & (ords_prods_merge['max_order']>10), 'loyalty_flag']='Regular customer'

In [24]:
ords_prods_merge.loc[ords_prods_merge['max_order']<=10,'loyalty_flag']='New customer'

In [25]:
# print the frequency of new loyalty_flag 
ords_prods_merge['loyalty_flag'].value_counts(dropna=False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [26]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,match,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,both,10,New customer
1,2539329,1,1,2,8,NaN,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,10,New customer
2,2539329,1,1,2,8,NaN,12427,3,0,both,Original Beef Jerky,23,19,4.4,both,10,New customer
3,2539329,1,1,2,8,NaN,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,both,10,New customer
4,2539329,1,1,2,8,NaN,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,10,New customer

In [27]:
# check the columns
ords_prods_merge[['user_id','loyalty_flag','order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             1
2         1      New customer             1
3         1      New customer             1
4         1      New customer             1
5         1      New customer             2
6         1      New customer             2
7         1      New customer             2
8         1      New customer             2
9         1      New customer             2
10        1      New customer             2
11        1      New customer             3
12        1      New customer             3
13        1      New customer             3
14        1      New customer             3
15        1      New customer             3
16        1      New customer             4
17        1      New customer             4
18        1      New customer             4
19        1      New customer             4
20        1      New customer             4
21        1      New customer             5
22        1      New customer             5
23        1      New customer             5
24        1      New customer             5
25        1      New customer             5
26        1      New customer             5
27        1      New customer             5
28        1      New customer             5
29        1      New customer             6
30        1      New customer             6
31        1      New customer             6
32        1      New customer             6
33        1      New customer             7
34        1      New customer             7
35        1      New customer             7
36        1      New customer             7
37        1      New customer             7
38        1      New customer             8
39        1      New customer             8
40        1      New customer             8
41        1      New customer             8
42        1      New customer             8
43        1      New customer             8
44        1      New customer             9
45        1      New customer             9
46        1      New customer             9
47        1      New customer             9
48        1      New customer             9
49        1      New customer             9
50        1      New customer            10
51        1      New customer            10
52        1      New customer            10
53        1      New customer            10
54        1      New customer            10
55        1      New customer            10
56        1      New customer            10
57        1      New customer            10
58        1      New customer            10
59        2  Regular customer             1

# 02. finding the Aggregated mean for the entire dataframe

In [29]:
# finding aggregated mean 
ords_prods_merge.groupby('department_id').agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

# 03. Observation:
The table represents the list of all 'department_id' values from the whole dataframe together with their corresponding 'order_number' means or the average number of orders per user for each deoartment ID. From these we can see that there is not much difference between the subset dataframe and the entire dataframe mean or average values.

# 05. Finding the spending habits of three diffrent type of customers

In [32]:
# Croup by loyalty_flag and calculate basic statistics for prices
price_stats=ords_prods_merge.groupby('loyalty_flag')['prices'].describe()

In [33]:
price_stats.head()

                       count      mean       std  min  25%  50%   75%   max
loyalty_flag
Loyal customer    10284093.0  7.773487  4.205886  1.0  4.2  7.4  11.2  25.0
New customer       6243990.0  7.801077  4.266452  1.0  4.2  7.4  11.3  25.0
Regular customer  15876776.0  7.798145  4.254540  1.0  4.2  7.4  11.3  25.0

# Observation:
After the basic statistical analysis we can say that the prices of products purchased by loyal customers almost same like the regular customers and the new customers.

# 06. Creating the spending flag for each user based on the average price accross all their orders

In [36]:
# Creating Average_price column
ords_prods_merge['Average_price']=ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\baidy\AppData\Local\Temp\ipykernel_5096\312778589.py:2: FutureWarning: The provided callable <function mean at 0x000001664CF868E0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['Average_price']=ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [37]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,match,max_order,loyalty_flag,Average_price
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,both,10,New customer,6.367797
1,2539329,1,1,2,8,NaN,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,10,New customer,6.367797
2,2539329,1,1,2,8,NaN,12427,3,0,both,Original Beef Jerky,23,19,4.4,both,10,New customer,6.367797
3,2539329,1,1,2,8,NaN,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,both,10,New customer,6.367797
4,2539329,1,1,2,8,NaN,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,10,New customer,6.367797

In [38]:
# Creating spender_flag 
ords_prods_merge.loc[ords_prods_merge['Average_price']<10,'spender_flag']='Low spender'
ords_prods_merge.loc[ords_prods_merge['Average_price']>=10,'spender_flag']='High spender'

In [39]:
# counts of the spenders
ords_prods_merge['spender_flag'].value_counts(dropna=False)

spender_flag
Low spender     32285150
High spender      119709
Name: count, dtype: int64

# 07. Create an order frequency flag to find out the frequent and non frequent customers

In [41]:
# Creating median_order column
ords_prods_merge['median_order']=ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

C:\Users\baidy\AppData\Local\Temp\ipykernel_5096\670208259.py:2: FutureWarning: The provided callable <function median at 0x000001664D165620> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge['median_order']=ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [42]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,match,max_order,loyalty_flag,Average_price,spender_flag,median_order
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,both,10,New customer,6.367797,Low spender,20.5
1,2539329,1,1,2,8,NaN,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,10,New customer,6.367797,Low spender,20.5
2,2539329,1,1,2,8,NaN,12427,3,0,both,Original Beef Jerky,23,19,4.4,both,10,New customer,6.367797,Low spender,20.5
3,2539329,1,1,2,8,NaN,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,both,10,New customer,6.367797,Low spender,20.5
4,2539329,1,1,2,8,NaN,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,10,New customer,6.367797,Low spender,20.5

In [43]:
# Creating order_frequency_flag
ords_prods_merge.loc[ords_prods_merge['median_order']>20,'order_frequency_flag']='Non-frequent customer'
ords_prods_merge.loc[(ords_prods_merge['median_order']>10)&(ords_prods_merge['median_order']<20),'order_frequency_flag']='Regular customer'
ords_prods_merge.loc[ords_prods_merge['median_order']<=10,'order_frequency_flag']='Frequent customer'

In [44]:
# count of order frequency
ords_prods_merge['order_frequency_flag'].value_counts(dropna=False)

order_frequency_flag
Frequent customer        21559853
Regular customer          6836350
Non-frequent customer     3636437
NaN                        372219
Name: count, dtype: int64

# 09. Export dataframe

In [46]:
# export dataframe
ords_prods_merge.to_pickle(os.path.join(path,'02 Data','Prepared Data','ords_prods_merge.pkl'))